@page
@model Shark.Fido2.Portal.Pages.AboutModel

<div class="main-container">
    <div class="main-section">
        <div class="main-header">
            <h2>About Shark WebAuthn</h2>
        </div>
        <div class="main-description">
            <p><b>Passkeys</b> are a modern, secure replacement for passwords, based on the WebAuthn protocol. They use cryptographic key pairs to authenticate users without requiring them to remember a password. Because the private key never leaves the user’s device, passkeys are resistant to phishing and data breaches. They also work seamlessly across devices and platforms, making sign-ins faster and more secure.</p>
        </div>
        <div class="main-description">
            <p><b>Shark WebAuthn library for .NET</b> provides a complete server-side implementation of the WebAuthn protocol. It enables secure, passwordless login and supports multi-factor authentication (MFA) for modern web applications.</p>
            <p>This demo server offers a working examples of the core library’s capabilities – including credential registration and user authentication – demonstrating full compliance with current authentication standards. It serves as a practical reference for integrating robust, standards-based authentication into your own projects.</p>
        </div>
        <div class="form-group">
            <a href="https://github.com/linuxchata/fido2" target="_blank" class="resource-link">View on GitHub</a>
        </div>
    </div>
</div> 