@page
@model DiscoverableCredentialsModel

<div class="main-container">
    <div class="main-section">
        <div class="main-header">
            <h2>Discoverable Credentials</h2>
        </div>
        <div class="main-description">
            <p><b>Discoverable credentials</b> (also known as resident keys in WebAuthn specification) are credentials that are stored directly on the authenticator and can be "discovered" by the Relying Party (server) without the user first providing a username or other identifier. This means the authenticator itself stores enough information, including a unique credential identifier, to identify the user and complete the authentication process. These credentials offer the highest level of convenience and phishing resistance, as the user doesn't need to type a username or remember which authenticator is associated with a specific account. They are particularly useful for passwordless login experiences.</p>
        </div>
        <div class="main-description">
            <p>This page illustrates the use of discoverable credentials. You'll need to provide a username and a display name during registration. For subsequent logins, neither your username nor any other identifier will be needed to identify you, as the authenticator will provide the necessary information directly.</p>
        </div>
    </div>

    <div id="auth-dc-section" class="inner-container hide">
        <div class="inner-container-wrapper">
            <!-- Sign Up Section -->
            <div class="auth-section signup-section">
                <div class="auth-header">
                    <h3>Sign Up</h3>
                </div>
                <form id="signupForm">
                    <div class="form-group">
                        <label for="signUpUserName">Username</label>
                        <input type="text" id="signUpUserName" name="username" maxlength="256" placeholder="Enter your username" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="signUpDisplayName">Display Name</label>
                        <input type="text" id="signUpDisplayName" name="displayname" maxlength="256" placeholder="Enter your display name" required class="form-control">
                    </div>
                    <div class="button-row">
                        <button type="button" id="signUpButton" name="signUpButton" class="btn btn-secondary btn-block">Sign Up with a Passkey</button>
                    </div>
                </form>
            </div>

            <!-- Sign In Section -->
            <div class="auth-section signin-section">
                <div class="auth-header">
                    <h3>Sign In</h3>
                </div>
                <form id="signinForm">
                    <input type="hidden" id="credentialId" name="credentialId" />
                    <div class="button-row">
                        <button type="button" id="signInButton" class="btn btn-secondary btn-block">Sign In with a Passkey</button>
                    </div>
                    <div class="button-row-sm">
                        <a href="#" id="credentialsLink" class="credential-link hide">Discoverable Credentials details</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="disclaimer">
            <p>Discoverable credentials are temporarily stored in memory cache for a maximum of 24 hours.</p>
        </div>
    </div>
    <div id="auth-dc-notsupported-section" class="inner-container hide">
        <div class="auth-section signup-section">
            This version of your browser does not support discoverable credentials.
        </div>
    </div>
</div>

<environment include="Development">
    <script src="~/js/dc/site-dc.js"></script>
    <script src="~/js/dc/assertion-dc.js"></script>
    <script src="~/js/dc/attestation-dc.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/site-dc.min.js"></script>
</environment>