@page
@model ErrorModel

<div class="main-container">
    <div class="main-section">
        <div class="main-header">
            <h2 class="text-danger">Error</h2>
        </div>
        @if (Model.ShowRequestId)
        {
            <div class="form-group">
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            </div>
        }
        <div class="form-group">
            <p>
                An unexpected error occurred while processing your request.
            </p>
        </div>
    </div>
</div>
