@page
@model IndexModel

<div class="main-container">
    <div class="main-section">
        <div class="main-header">
            <h2>Non-discoverable Credentials</h2>
        </div>
        <div class="main-description">
            <p><b>Non-discoverable credentials</b> (also known as non-resident keys in WebAuthn specification) are tied to a specific user and require the Relying Party (server) to store and provide a credential identifier to the authenticator during login. While the authenticator doesn't store the full credential itself, it uses this credential identifier in conjunction with an internal secret to access the necessary cryptographic keys. These credentials offer strong, phishing-resistant security, but they typically require the user to provide an identifier (like a username) to the Relying Party to initiate the login process.</p>
        </div>
        <div class="main-description">
            <p>This page illustrates the use of non-discoverable credentials. You'll need to provide a username and a display name during registration. For subsequent logins, however, only your username is needed to identify you.</p>
        </div>
    </div>

    <div id="auth-ndc-section" class="inner-container hide">
        <div class="inner-container-wrapper">
            <!-- Sign Up Section -->
            <div class="auth-section signup-section">
                <div class="auth-header">
                    <h3>Sign Up</h3>
                </div>
                <form id="signupForm">
                    <div class="form-group">
                        <label for="signUpUserName">Username</label>
                        <input type="text" id="signUpUserName" name="username" maxlength="256" placeholder="Enter your username" required class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="signUpDisplayName">Display Name</label>
                        <input type="text" id="signUpDisplayName" name="displayname" maxlength="256" placeholder="Enter your display name" required class="form-control">
                    </div>
                    <div class="button-row">
                        <button type="button" id="signUpButton" name="signUpButton" class="btn btn-primary btn-block">Sign Up</button>
                    </div>
                </form>
            </div>

            <!-- Sign In Section -->
            <div class="auth-section signin-section">
                <div class="auth-header">
                    <h3>Sign In</h3>
                </div>
                <form id="signinForm">
                    <div class="form-group">
                        <label for="signInUserName">Username</label>
                        <input type="text" id="signInUserName" name="username" maxlength="256" placeholder="Enter your username" required class="form-control">
                    </div>
                    <input type="hidden" id="credentialId" name="credentialId" />
                    <div class="button-row">
                        <button type="button" id="signInButton" class="btn btn-primary btn-block">Sign In</button>
                    </div>
                    <div class="button-row-sm">
                        <a href="#" id="credentialsLink" class="credential-link hide">Non-discoverable Credentials details</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="disclaimer">
            <p>Non-discoverable credentials are temporarily stored in memory cache for a maximum of 24 hours.</p>
        </div>
    </div>
    <div id="auth-ndc-notsupported-section" class="inner-container hide">
        <div class="auth-section signup-section">
            This version of your browser does not support non-discoverable credentials.
        </div>
    </div>
</div>

<environment include="Development">
    <script src="~/js/site-ndc.js"></script>
</environment>
<environment exclude="Development">
    <script src="~/js/site-ndc.min.js"></script>
</environment>