@page
@model Shark.Fido2.Portal.Pages.ResourcesModel

<div class="main-container">
    <div class="main-section">
        <div class="main-header">
            <h2>Your Guide to WebAuthn</h2>
        </div>
        <div class="form-group">
            <a href="https://webauthn.guide/" target="_blank" class="resource-link">An introduction to Web Authentication</a>
            <span class="badge bg-success ms-1">Introduction</span>
        </div>
        <div class="form-group">
            <a href="https://webauthn.me/" target="_blank" class="resource-link">Web Authentication Credential and Login Demo</a>
            <span class="badge bg-success ms-1">Introduction</span>
        </div>
        <div class="form-group">
            <a href="https://fidoalliance.org/" target="_blank" class="resource-link">FIDO Alliance</a>
            <span class="badge bg-success ms-1">Introduction</span>
        </div>
        <div class="form-group">
            <a href="https://www.w3.org/TR/webauthn-2/" target="_blank" class="resource-link">Web Authentication: An API for accessing Public Key Credentials Level 2</a>
            <span class="badge bg-warning ms-1">Advanced</span>
        </div>
    </div>
</div> 